<h1>トップページになります。</h1>
<p>各種情報を発信する場所になります。」</p>
<p>Find me in app/views/static_pages/index.html.erb</p>

<%= link_to "ユーザー一覧", users_path %>
<%= link_to "ログインユーザーページ", current_user if current_user %>
